name: Node CI

on:
  push:
    branches: [master]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: "20.x"

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: npm install, build, and test
        run: |
          npm ci
          npm run build --if-present
          npm test
          npm run lint
        env:
          CI: true
      - name: Publish to NPM
        uses: JS-DevTools/npm-publish@7f8fe47b3bea1be0c3aec2b717c5ec1f3e03410b
        with:
          token: ${{secrets.NPM_TOKEN}}
          provenance: true
